<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="KnjigovodstvoDb" connectionString="Server=LEGION-2OECPBJ;Database=Knjigovodstvo;Trusted_Connection=True;MultipleActiveResultSets=true" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>